@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
h1 {
  margin: 0.5rem 0;
}

.cardSliderContainer {
  position: relative;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  cursor: grab;
}

.cardSliderContainer__cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-gap: 50px;
  pointer-events: none;
}

.cardSliderContainer__cards__card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.cardSliderContainer__cards__card__cardContent {
  color: #4e4e4e;
  padding: 1rem;
}
